@model NerdySoftTest.Models.Announcement
@{
    ViewBag.Title = "New announcement";
}
<form asp-action="add" asp-controller="home">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>