@using NerdySoftTest.Models;
@model IndexViewModel

@{
    ViewData["Title"] = "Announcement";
}
<!DOCTYPE html>

<html>
<head>
    <title>Announcements</title>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <h1>Announcements</h1>
    <a asp-action="Add"
       class="btn btn-outline-success">Add new announcement</a>
    <table class="table">
        <tr><th>List of announcements</th><th></th>
        @foreach (Announcement u in Model.Announ)
        {
            <tr><td>@u.Title</td><td><a href="~/Home/Details/@u.Id">View Details</a></td></tr>
        }
    </table>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Prev
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</body>
</html>